.rating
{
  /*position :absolute;*/
  right :10%;
  transform:translate(-50%,50%) rotateY(180deg);
  display:flex;
}
.rating input
{
  display : none;
}
.rating label
{
  cursor : pointer;
   width : 30px;
}
.rating label:before
{
  content : '\f005';
  font-family :fontAwesome;
  position : relative;
  display : block;
  font-size: 20px;
  color :#101010;

}
.rating label:after
{
  content : '\f005';
  font-family :fontAwesome;
  position : relative;
  display : block;
  font-size: 20px;
  color :#101010;
  color :#1f9cff;
  top : 0;
  opacity:0;
  transition : .1s;
  text-shadow : 0 2px 5px rgba(0,0,0,0.5);
} 
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
  opacity:1;
}